﻿@using Editor.Models
@model EditorViewModel
@{
    ViewBag.Title = "Editor";

}

<div class="left-panel" id="canvas-container">
    <canvas id="grid"></canvas>
    <canvas id="map"></canvas>
</div>
<div class="middle-panel">
    <div class="map-selector-container">
        <div class="header">
            <div class="header-text">Selected Map: </div>
            <div class="selector">
                <select id="mapSelector">
                    <option>-- Select --</option>
                    @foreach (var map in Model.AvailableMaps)
                    {
                        <option value="@map">@map</option>
                    }
                </select>
            </div>
        </div>
        <hr />
    </div>
    <div class="map-details">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "saveForm", name = "saveForm" }))
            {
            <label for="mapName">Map Name: </label>
            <input type="text" id="mapName" value="" name="mapName" />
            <input type="submit" value="Save Map" />
        }
        <hr />
    </div>
    <div class="map-connections">
        <div class="north">
            <div class="header-text">North Map: </div>
            <div class="selector">
                <select id="northMap" data-direction="North" class="map-Connection">
                    <option>-- Select --</option>
                    @foreach (var map in Model.AvailableMaps)
                    {
                        <option value="@map">@map</option>
                    }
                </select>
            </div>
        </div>
        <div class="west">
            <div class="header-text">West Map: </div>
            <div class="selector">
                <select id="westMap" data-direction="West" class="map-Connection">
                    <option>-- Select --</option>
                    @foreach (var map in Model.AvailableMaps)
                    {
                        <option value="@map">@map</option>
                    }
                </select>
            </div>
        </div>
        <div class="east">
            <div class="header-text">East Map: </div>
            <div class="selector">
                <select id="eastMap" data-direction="East" class="map-Connection">
                    <option>-- Select --</option>
                    @foreach (var map in Model.AvailableMaps)
                    {
                        <option value="@map">@map</option>
                    }
                </select>
            </div>
        </div>
        <div class="south">
            <div class="header-text">South Map: </div>
            <div class="selector">
                <select id="southMap" data-direction="South" class="map-Connection">
                    <option>-- Select --</option>
                    @foreach (var map in Model.AvailableMaps)
                    {
                        <option value="@map">@map</option>
                    }
                </select>
            </div>
        </div>
        <hr />
    </div>
    <div class="layers-controls">
        <div class="header-text">No. of Layers: </div>
        <div class="control-row requested-layers-controls">
            <button id="minusLayerBtn">-</button>
            <input type="text" min="0" id="requestedLayers" disabled="disabled" value="1"/>
            <button id="addLayerBtn">+</button>
        </div>
        <div class="control-row layer-selectors">
            <div class="layer-selector">
                <input type="checkbox" name="allLayers" id="allLayers" /><label for="allLayers">*</label>
            </div>
            <div class="layer-selector">
                <input type="checkbox" name="layer0" checked="checked" id="layer0" data-index="0" class="layerCb"/><label for="layer0">Layer 0</label>
            </div>
        </div>
    </div>
</div>
<div class="right-panel">
    <div class="tool-panel">
        <div class="selected-container">
            <div class="header">
                <div class="header-text">Selected Tile:</div>
                <div class="canvas">
                    <canvas id="selected"></canvas>
                </div>
            </div>
        </div>
        <hr />
        <div class="tools-container">
            <div class="header-text">Tools</div>
            <hr />
            <div class="tools">
                <div class="tool-row">
                    <label for="solidCb"><input type="checkbox" name="solidCb" id="solidCb"/>Solid</label>
                </div>
                <div class="tool-row">
                    <label for="npcRb"><input type="radio" name="solidType" id="npcRb" disabled="disabled" value="npc"/>NPC</label>
                </div>
                <div class="tool-row">
                    <label for="chestRb"><input type="radio" name="solidType" id="chestRb" disabled="disabled" value="chest"/>Chest</label>
                </div>
            </div>
        </div>
    </div>
    <div class="tileset-container">
        <div class="tileset-selector-container">
            <div class="header">
                <div class="header-text">Selected Tileset: </div>
                <div class="selector">
                    <select id="tilesetSelector">
                        <option>-- Select --</option>
                        @foreach (var tileset in Model.Tilesets)
                        {
                            <option value="@tileset">@tileset</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div class="tileset-canvas-container">
            <canvas id="tileset"></canvas>
        </div>
    </div>
</div>
