﻿@{
    ViewBag.Title = "Home Page";
}
<canvas id="map"></canvas>
<canvas id="game"></canvas>
<canvas id="menu">MENU HERE</canvas>

<script src="~/Scripts/ajax.js"></script>
<script src="~/Scripts/spritesheet.js"></script>
<script src="~/Scripts/animation.js"></script>
<script src="~/Scripts/character.js"></script>
<script src="~/Scripts/map.js"></script>
<script src="~/Scripts/input.js"></script>
<script src="~/Scripts/game.js"></script>

