﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/mapData.js"></script>
    <script src="~/Scripts/renderer.js"></script>
    <script src="~/Scripts/ajax.js"></script>
    <script src="~/Scripts/editor.js"></script>
</head>
<body onload="init()">
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
