﻿html,
body
{
    margin: 0;
    width: 100%;
    height: 100%;
}

.hidden
{
    display: none;
}

.container
{
    display: block;
    margin: 15px;
}

    .container .left-panel,
    .container .middle-panel,
    .container .right-panel
    {
        display: inline-block;
        border: 1px solid black;
    }

    .container .middle-panel,
    .container .right-panel
    {
        height: 640px;
    }

    .container .left-panel
    {
        float: left;
        width: 960px;
        height: 800px;
    }

        .container .left-panel canvas
        {
            position: absolute;
        }

    .container .middle-panel
    {
        width: 305px;
        margin-left: 4px;
    }

        .container .middle-panel .map-details,
        .container .middle-panel .map-selector-container
        {
            padding-left: 3px;
            padding-right: 3px;
            margin-top: 10px;
        }

            .container .middle-panel .map-selector-container .header .header-text,
            .container .middle-panel .map-selector-container .header .selector
            {
                display: block;
                margin-bottom: 10px;
            }

            .container .middle-panel .map-selector-container .header .header-text
            {
                padding-left: 100px;
            }

            .container .middle-panel .map-selector-container .header .selector
            {
                padding-left: 110px;
            }

        .container .middle-panel .map-connections
        {
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left:3px;
            padding-right:3px;
        }

            .container .middle-panel .map-connections .north,
            .container .middle-panel .map-connections .south
            {
                padding-left: 110px;
            }

            .container .middle-panel .map-connections .west,
            .container .middle-panel .map-connections .east
            {
                display:inline-block;
                margin-top:20px;
                margin-bottom:20px;
            }

            .container .middle-panel .map-connections .south
            {
                margin-bottom:10px;
            }

            .container .middle-panel .map-connections .west
            {
                margin-left:10px;
            }

            .container .middle-panel .map-connections .east
            {
                float:right;
                margin-right:10px;
            }

        .container .middle-panel .layers-controls
        {
            margin-top: 20px;
        }

            .container .middle-panel .layers-controls .header-text
            {
                text-decoration: underline;
                margin-top: 10px;
                padding-left: 100px;
                margin-bottom: 10px;
            }

            .container .middle-panel .layers-controls .requested-layers-controls
            {
                padding-left: 110px;
                margin-top: 5px;
            }

                .container .middle-panel .layers-controls .requested-layers-controls input#requestedLayers
                {
                    width: 20px;
                    text-align: center;
                }

            .container .middle-panel .layers-controls .layer-selectors .layer-selector
            {
                padding-left: 110px;
                margin-top: 10px;
            }

    .container .right-panel
    {
        width: 700px;
        float: right;
        position: fixed;
        right: -567px;
        z-index: 999;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        background-color: white;
    }

        .container .right-panel:hover
        {
            right: 15px;
            -moz-box-shadow: -3px 3px 1px 1px #ccc;
            -webkit-box-shadow: -3px 3px 1px 1px #ccc;
            box-shadow: -3px 3px 1px 1px #ccc;
        }

        .container .right-panel .tool-panel,
        .container .right-panel .tileset-container
        {
            display: inline-block;
            padding: 5px;
            height: 631px;
        }

        .container .right-panel .tool-panel
        {
            width: 127px;
            padding: 5px;
            border-right: 1px solid #333;
        }

        .container .right-panel .tileset-container
        {
            float: right;
            width: 552px;
        }

        .container .right-panel .tool-panel .selected-container .header .header-text
        {
            padding-left: 20px;
        }

        .container .right-panel .tool-panel .selected-container .header .header-text,
        .container .right-panel .tool-panel .selected-container .header .canvas,
        .container .right-panel .tileset-container .tileset-selector-container .header .header-text,
        .container .right-panel .tileset-container .tileset-selector-container .header .selector
        {
            display: inline-block;
        }

        .container .right-panel .tileset-container .tileset-selector-container
        {
            width: 186px;
            margin-left: 180px;
        }

        .container .right-panel .tool-panel .selected-container .header .canvas
        {
            width: 32px;
            height: 32px;
            border: 1px solid #333;
            margin-left: 46px;
            padding: 1px;
        }

        .container .right-panel .tool-panel .tools-container .header-text
        {
            padding-left: 47px;
        }


        .container .right-panel .tool-panel .tools-container .tools .tool-row
        {
            margin-top: 5px;
        }

            .container .right-panel .tool-panel .tools-container .tools .tool-row input[type="radio"]
            {
                margin-left: 30px;
            }

        .container .right-panel .tileset-container .tileset-canvas-container
        {
            height: 610px;
        }
